<h1>Hello, TA!</h1>
<p><%= @message %></p>
<form method="post">
	<p>
		ID: <input type="text" name="id">
	</p>
	<p>
		PASS: <input type="password" name="password">
	</p>
	<button type="submit" class="login">Login</button>
	<button type="submit" class="signup">Add User</button>
</form>
