<h1>Hello, TA!</h1>
<p><%= @message %></p>
	<p>
		ID: <input type="text" name="id">
	</p>
	<p>
		PASS: <input type="password" name="password">
	</p>
	<%= submit_tag 'Login' %>
	<%= submit_tag 'Add User', :name => 'signup' %>
</form>
