<div class="LoginBox TopBox" >

	<h1>Hello, User!</h1>
	<p id="message_box"></p>
	<div>
		<div class="InputBox">
			<input type="text" id="id" placeholder="Username">
			<input type="password" id="pass" placeholder="Password">
		</div>
		<div class="ButtonBox">
			<button id="button_login" class="Button">Login</button>
			<button id="button_signup" class="Button">Add User</button>
		</div>
	</div>

</div>
	
