<h1>Hello, TA!</h1>
<p id="message_box"></p>
<div>
	<p>
		Username: <input type="text" id="id">
	</p>
	<p>
		Password: <input type="password" id="pass">
	</p>
	<button id="button_login">Login</button>
	<button id="button_signup">Add User</button>
</div>
	
