<body onload="redirect()">
	<script>
		function redirect() {
			// send post request to login
			// reference = http://stackoverflow.com/questions/133925
			var form = document.createElement("form");
			form.setAttribute("method", "post");
			form.setAttribute("action", "/index/login");

			var id = document.createElement("input"), pass = document.createElement("input");
			id.name = "id";
			id.value = "<%= @id %>";
			pass.name = "password";
			pass.value = "<%= @pass %>";
			form.appendChild(id);
			form.appendChild(pass);

			form.style.display = "none";
			document.body.appendChild(form);

			form.submit();
		}
	</script>
</body>
